<div class="card mb-3">
    <div class="card-header">Active Applications</div>
    <ul class="list-group list-group-flush">
        <div *ngFor="let item of apps">
            <li *ngIf="item.applicationStatus === 'Pending'" class="list-group-item d-flex justify-content-between ">
                <span>{{item.companyName}}</span>
                <span>{{item.position}}</span>
                <span>{{item.applicationStatus}}</span>
                <span class="item-date">{{item.dateApplied | date}}</span>
                <a target="_blank" rel="noreferrer noopener" href="{{item.jobDashboardURL}}">Dashboard</a>
                <button class="btn fa fa-remove"></button>
            </li>
        </div>
    </ul>
</div>
<div class="card mb-3">
    <div class="card-header">Inactive Applications</div>
    <ul class="list-group list-group-flush">
        <div *ngFor="let item of apps">
            <li *ngIf="item.applicationStatus !== 'Pending'" class="list-group-item d-flex justify-content-between ">
                <span>{{item.companyName}}</span>
                <span>{{item.position}}</span>
                <span>{{item.applicationStatus}}</span>
                <span class="item-date">{{item.dateApplied | date}}</span>
                <a target="_blank" rel="noreferrer noopener" href="{{item.jobDashboardURL}}">Dashboard</a>
                <button class="btn fa fa-remove"></button>
            </li>
        </div>
    </ul>
</div>